@{
    ViewData["Title"] = "Home Page";
}
@model PizzaStore.Client.Models.PizzaViewModel


<header>
    <hgroup class="row" id="title">
        <h1 id="title"><img src="Images/PizzaStoreLogo.png" alt="Cheese Pizza" style="width:100%;"></h1>
    </hgroup>
</header>
<nav id="navigation" style="display:none;" class="smooth-scroll row jumbotron">
    <div class="col-md-6">



        <h1 id="title"><a href="#featuredpizzas"><img src="Images/FeaturedPizzas.png" alt="Featured Pizzas" style="width:100%;"></a></h1>
    </div>
    <div class="col-md-6">
        <h1 id="title"><a href="#order"><img src="Images/Order.png" alt="Order" style="width:100%;"></a></h1>
    </div>
</nav>
<article class="row jumbotron" id="ad-section" style="display:none;">
    <h1>Place your ad here!</h1>
</article>
<header class="row jumbotron" id="featuredpizzas" style="display:none;">
    <hgroup class="col-md-3">
        <h2>Make your friends say UGH with pizza from your home skillet!</h2>
        <p>
            Yada, yada, yada, alrighty then, our krunk pizza is made from the hella cool kitchen of our shack, dude. This pizza ain't
            out of whack, we cook your pizza and give it to you in 30 minutes or less, before you have to dip. Our pizza will make you call
            for dibs! Not the ice cream, the pizza.
        </p>
    </hgroup>
    <hgroup class="col-md-9">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/images/CheesePizza.jpg" alt="Cheese Pizza" style="width:100%;" />
                    <div class="carousel-caption">
                        <h3>Cheese Pizza</h3>
                        <p>A Relic of the 90s. So simple, yet loved by billions</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/images/973094_a529d743.jpg" alt="Our Building" style="width:100%;"/>
                    <div class="carousel-caption">
                        <h3>Our Headquarters</h3>
                        <p>The main branch for our company located in Greenville, Florida.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="Images/PepperoniPizza.jpg" alt="Pepperoni Pizza" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Pepperoni Pizza</h3>
                        <p>Pepperoni, the way to give pizza respect. You don't know what's in pepperoni, but it's all good.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="Images/RealBacon.jpg" alt="Pepperoni Pizza" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Try Our: Real Bacon</h3>
                        <p>Oh snap, you must be thinking we be trippin' by puttting real bacon on pizza, you're wrong, totally sober.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="Images/4XCheesePizza.png" alt="4X Cheese Pizza" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>4X Cheese Pizza</h3>
                        <p>We give cheese some props, so lets take your cheese and multiply it by four.</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </hgroup>
</header>
<main>
    <section class="row jumbotron" id="order" style="display:none;">
        <header>
            <h2><strong>Order</strong></h2>
            <h3>Pizza</h3>
        </header>

        <h3>@ViewData["Message"]</h3>

        <div class="col-md-12">
            @using (Html.BeginForm(FormMethod.Post))
            {

                List<SelectListItem> sizeItems = new List<SelectListItem>();
                sizeItems.Add(new SelectListItem { Text = "Kids ($7.50)", Value = "KidsPizza" });
                sizeItems.Add(new SelectListItem { Text = "Small ($8.25)", Value = "SmallPizza" });
                sizeItems.Add(new SelectListItem { Text = "Medium ($8.80)", Value = "MediumPizza" });
                sizeItems.Add(new SelectListItem { Text = "Large ($9.15)", Value = "LargePizza" });

                List<SelectListItem> crustItems = new List<SelectListItem>();
                crustItems.Add(new SelectListItem { Text = "Thin (Free)", Value = "Thin" });
                crustItems.Add(new SelectListItem { Text = "Thick ($0.75)", Value = "Thick" });
                crustItems.Add(new SelectListItem { Text = "Extra Thick ($1.05)", Value = "Extra Thick" });



        <div class="col-md-6">
            <h4>Size</h4>
            @Html.DropDownListFor(m => m.Size, sizeItems)
        </div>

        <div class="col-md-6">
            <h4>Crust</h4>
            @Html.DropDownListFor(m => m.Crust, crustItems)
        </div>

List<SelectListItem> sauceItems = new List<SelectListItem>();
sauceItems.Add(new SelectListItem { Text = "Tomato", Value = "Tomato" });
sauceItems.Add(new SelectListItem { Text = "No Sauce", Value = "No Sauce" });
sauceItems.Add(new SelectListItem { Text = "Barbecue", Value = "BBQ" });
sauceItems.Add(new SelectListItem { Text = "Green Tomato", Value = "Green Tomato" });

List<SelectListItem> firstCheeseItems = new List<SelectListItem>();
firstCheeseItems.Add(new SelectListItem { Text = "Provolone", Value = "Provolone" });
firstCheeseItems.Add(new SelectListItem { Text = "Cheddar", Value = "Cheddar" });
firstCheeseItems.Add(new SelectListItem { Text = "Barbecue", Value = "BBQ" });
firstCheeseItems.Add(new SelectListItem { Text = "Purple Cheese", Value = "Purple" });
firstCheeseItems.Add(new SelectListItem { Text = "No Cheese", Value = "No Cheese" });

List<SelectListItem> secondCheeseItems = new List<SelectListItem>();
secondCheeseItems.Add(new SelectListItem { Text = "No Cheese", Value = "No Cheese" });
secondCheeseItems.Add(new SelectListItem { Text = "Provolone", Value = "Provolone" });
secondCheeseItems.Add(new SelectListItem { Text = "Cheddar", Value = "Cheddar" });
secondCheeseItems.Add(new SelectListItem { Text = "Barbecue", Value = "BBQ" });
secondCheeseItems.Add(new SelectListItem { Text = "Purple Cheese", Value = "Purple" });

        <div class="col-md-4">
            <h4>Sauce</h4>
            @Html.DropDownListFor(m => m.Sauce, sauceItems)
        </div>

        <div class="col-md-4">
            <h4>First Cheese</h4>
            @Html.DropDownListFor(m => m.FirstCheese, firstCheeseItems)
        </div>

        <div class="col-md-4">
            <h4>Second Cheese</h4>
            @Html.DropDownListFor(m => m.SecondCheese, secondCheeseItems)
        </div>

        <div class="col-md-12" id="form-toppings">
            <h4>Free Toppings (Up to 3)</h4> <!-- Comes back as list -->
            @Html.LabelFor(m => m.Toppings.Pepperoni)
            @Html.CheckBoxFor(m => m.Toppings.Pepperoni, "ToppingList")
            @Html.LabelFor(m => m.Toppings.Sausage)
            @Html.CheckBoxFor(m => m.Toppings.Sausage, "ToppingList")
            @Html.LabelFor(m => m.Toppings.BaconBits, "Bacon Bits")
            @Html.CheckBoxFor(m => m.Toppings.BaconBits, "ToppingList")
            @Html.LabelFor(m => m.Toppings.Spinach)
            @Html.CheckBoxFor(m => m.Toppings.Spinach, "ToppingList")
            @Html.LabelFor(m => m.Toppings.RealBacon, "Real Bacon")
            @Html.CheckBoxFor(m => m.Toppings.RealBacon, "ToppingList")
            @Html.LabelFor(m => m.Toppings.ExtraCheese, "Extra Cheese")
            @Html.CheckBoxFor(m => m.Toppings.ExtraCheese, "ToppingList")
            @Html.LabelFor(m => m.Toppings.CheeseX4, "4X Cheese")
            @Html.CheckBoxFor(m => m.Toppings.CheeseX4, "ToppingList")
        </div>

        <div class="col-md-12">
            <button type="submit" name="submitButton" value="pizza"><i class="fas fa-plus"></i> Add Pizza!</button>
        </div>

        <hr />
        
            List<SelectListItem> personLocation = new List<SelectListItem>();
            personLocation.Add(new SelectListItem { Text = "James Smith", Value = "James Smith" });
            personLocation.Add(new SelectListItem { Text = "John Johnson", Value = "John Johnson" });
            personLocation.Add(new SelectListItem { Text = "Robert Williams", Value = "Robert Williams" });
            personLocation.Add(new SelectListItem { Text = "Micheal Jones", Value = "Micheal Jones" });

            List<SelectListItem> locationItems = new List<SelectListItem>();
            locationItems.Add(new SelectListItem { Text = "Greenville, FL", Value = "Greenville" });
            locationItems.Add(new SelectListItem { Text = "Washington, FL", Value = "Washington" });
            locationItems.Add(new SelectListItem { Text = "Franklin, GA", Value = "Franklin" });
            locationItems.Add(new SelectListItem { Text = "Springfield, TN", Value = "Springfield" });
                

        <div id="account">
            @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="col-md-6">
            <h4>Select an Account</h4>
            @Html.DropDownListFor(m => m.CustomerLocation, personLocation)
        </div>
        <div class="col-md-6" for>
            <h4>Select a Shack Location</h4>
            @Html.DropDownListFor(m => m.Location, locationItems)
        </div>
        <div class="col-md-3">
            <button type="submit" name="submitButton" value="order"><i class="fas fa-truck"></i> Deliver!</button>
        </div>
        <div class=" col-mid-9">
            <button type="submit" name="submitButton" value="history"><i class="fas fa-address-book"></i> History!</button>
        </div>
        <div class="col-mid-12">
            @ViewData["History"]
        </div>
}
        </div>

}

</section>

    @*<section class="row jumbotron" id="register" style="display:none;">
        <header>
            <h2><strong>Register an Account</strong></h2>
        </header>

        <div class="col-md-12">
            <form action="" method="POST">
                <header class="row">
                    <h3>Your Address</h3>
                </header>

                <div class="col-md-6">
                    <h4 for="firstname">First Name</h4>
                    <input type="text" name="firstname" id="firstname">
                </div>

                <div class="col-md-6">
                    <h4 for="lastname">Last Name</h4>
                    <input type="text" name="lastname" id="lastname">
                </div>

                <div class="col-md-6">
                    <h4 for="address1">Address Line 1</h4>
                    <input type="text" name="address1" id="address1">
                </div>

                <div class="col-md-6">
                    <h4 for="address2">Address Line 2</h4>
                    <input type="text" name="address2" id="address2">
                </div>

                <div class="col-md-4">
                    <h4 for="city">City</h4>
                    <input type="text" name="city" id="city">
                </div>

                <div class="col-md-4">
                    <h4 for="state">State</h4>
                    <input type="text" name="state" id="state">
                </div>

                <div class="col-md-4">
                    <h4 for="zipcode">Zip Code</h4>
                    <input type="text" name="zipcode" id="zipcode">
                </div>
                <div class="col-md-12">
                    <button type="submit"><i class="fas fa-address-book"></i> Register!</button>
                </div>
            </form>
        </div>*@

    </section>
</main>

